@charset "utf-8";
/* CSS Document */
*{ font: 12px 'Hiragino Sans GB','Microsoft YaHei',SimHei,sans-serif; color:#333;}
body{ margin:0; padding:0;}
.clear { clear:both; }
.fl { float:left; display:inline;}
.fr { float:right;}
a{ text-decoration:none;}
p, h1, h2, h3, h4, h5, h6{ margin:0; padding:0; font-weight:normal}
.bor-radius{ border-radius:5px;}
ul{ margin:0; padding:0; /* overflow:hidden */}
/* ul li{ list-style:none; float:left; display:inline} */
input,label{vertical-align:middle}
input,select{height:26px; line-height:26px; border:1px solid #cdcdcd; color:#333; font-size:12px}
div{ margin:0; padding:0;}
.btn a{opacity:0.95; filter:alpha(opacity=95); font-weight:bold}
.btn a:hover{ opacity:0.8; filter:alpha(opacity=80);}
.dis_block{ display:block}
.check-input{ height:auto; line-height:normal; float:left; display:inline; border:none}
.checkbox-border{ border:none}
.disableCss{pointer-events:none; color:#afafaf; cursor:default} 